contexttimer
decord
numpy==1.26.4
diffusers<=0.16.0
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf
opencv-python-headless
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm==0.4.12
torch>=1.10.0
torchvision
tqdm
transformers==4.33.2
webdataset
wheel
torchaudio
soundfile
moviepy==1.0.3
nltk
peft

easydict==1.9
pyyaml_env_tag==0.1
open3d>=0.13.0
h5py

jax==0.4.23
jaxlib==0.4.23

scipy==1.12.0
matplotlib<=3.0.0
imageio>=2.27,<=2.31.2
huggingface-hub==0.24.7